<p-toast></p-toast>
 <div class="container">
   <div class="ui-g">
     <h1>
         Categorias
     </h1>

   <div class="ui-g-12 ui-fluid">
       <label>Descrição</label>
       <input type="text" pInputText />
   </div>

   <div class="ui-g-12">
     <button pButton type="submit" label="Pesquisar"></button>
   </div>

   <div class="ui-g">
     <div class="ui-g-4">
         <p-table [value]="categorias" [paginator]="true"[rows]="3" [responsive]="true">
             <ng-template pTemplate="header">
                 <tr>
                     <th class="col-id-header">id</th>
                     <th >Descrição</th>
                     <th class="col-acoes">Ações</th>
                 </tr>
             </ng-template>

             <ng-template pTemplate="body" let-tal>
               <tr>
                   <td class="col-id">{{tal.id}}</td>
                   <td class="col-nome">{{tal.nome}}</td>
                   <td>
                     <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar"></button>
                     <button pButton type="button" icon="pi pi-trash" pTooltip="Excluir" (click)="excluir(tal)"></button>
                   </td>
               </tr>
           </ng-template>
         </p-table>
     </div>
   </div>

   <div class="ui-g-12">
       <button pButton type="submit" label="Procurar"></button>
   </div>

  </div>
 </div>
